@import url('https://fonts.googleapis.com/css?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Poppins', sans-serif;
text-decoration: none;
box-sizing: border-box;

}
    
body{
    min-height: 100vh;
    overflow-x: hidden;
}


section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    background: #1f242d;
    overflow-x: hidden;
}
.album {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(0, 0, 0, .8);
      display: none;
}
    
.album.visible {
      display: block;
}
    
.album h2 {
      color: white;
}
    
.album img {
      border: 5px solid white;
}