*

section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  /*background: #1f242d;*/
  overflow-x: hidden;
}


.sec-4 .showRight-animate{
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(70deg, rgba(132, 94, 194, 0.8) 8px, rgba(179, 156, 208, 0.8), rgba(251, 234, 255, 0.8), rgba(0, 201, 183, 0.8));
  transition: 1s;
  transition-delay: calc(.2s * var(--i));
}
.sec-4.show-animate .showRight-animate{
  width: 0;
}







